@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');







@media (min-width: 1384px) { 
    #min-screen{
        display: none;
    }
    body{
        background-color: rgb(231, 231, 231);
    }
    
    .main-block {
        background-color: #fff;
        border: 2px solid balck;
        margin-top: 5px;
        
    
    }
    
    .main-theme{
        font-family: 'Playfair Display', serif;
    }
    
    img{
        margin-top: 40px;
        width: 300px;
        margin-left: 40px;
    }
    
    .my-name {
        margin-top: 40px;
        font-family: 'Bebas Neue', cursive;
        font-size: 500%;
    }
    
    #prof-goals {
        margin-top: 100px;
    }
    
    .line {
        display: block;
        width: 700px;
        margin-top: 150px;
    }
    
    .left-column{
        margin-left: 40px;
        margin-top: 60px;
    }
    
    .usual-text{
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
    
    .usual-text.left{
        margin-left: 40px;
        margin-top: 20px;
    }
    
    .line-left{
        display: block;
        width: 450px;
        margin-top: 50px;
        margin-bottom: 10px;
        margin-left: 40px;
    }
    
    .right-column{
        margin-top: 48px;
    }
    
    .usual-text.right{
        margin-top: 20px;
    }
    
    .name-of.left{
        margin-left: 40px;
        margin-top: 20px;
    }
    
    .name-of.right{
        margin-top: 30px;
    }
    
    .name-of{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
    }
    
    .prof{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 4px;
    }
    
    .faculty{
        color: rgb(190, 190, 190);
        font-size: 150%;
    }
    
    .line-right{
        display: block;
        width: 700px;
        margin-top: 80px;
    }
    
    .soc-img{
        width: 100px;
        margin-left: 90px;
    }

}
@media (max-width: 1383px) { 
    #max-screen{
        display: none;
    }
    body{
        background-color: rgb(231, 231, 231);
    }
    
    .main-block {
        background-color: #fff;
        border: 2px solid balck;
        margin-top: 5px;
        
    
    }
    
    .main-theme{
        font-family: 'Playfair Display', serif;
        margin-left: 30%;
        font-size: 250%;
    }
    
    img{
        margin-top: 40px;
        width: 400px;
    }
    
    .my-name {
        margin-top: 40px;
        font-family: 'Bebas Neue', cursive;
        font-size: 600%;
        padding-top: 40px;
        margin-left: 30%;
    }
    
    #prof-goals {
        margin-top: 50px;
        margin-left: 30%;
    }
    
    .line {
        display: block;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .usual-text{
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        margin-left: 30%;
        font-size: 150%;
    }
    
    .name-of{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
        margin-left: 30%;
    }
    
    .prof{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 4px;
        margin-left: 30%;
        font-size: 200%;
    }
    
    .faculty{
        color: rgb(190, 190, 190);
        font-size: 150%;
        margin-left: 30%;
    }
    
    .soc-img{
        width: 100px;
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .sm-text{
        margin-left: 30%;
    }
    
    .my-photo{
        margin-left: 30%;
    }

}